{% extends "base.html" %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/detail.css' %}">
<meta name="title" content="quizNfacts | Blog | {{blog.title}}">
<meta name="description" content="{{blog.excerpt}}">
<meta name="keywords" content="{{blog.keywords}}">
<title>quizNfacts | Blogs | {{blog.title}}</title>
{% endblock %}

{% block content %}

<style>
    .blog-body img {
        width: 100%;
        height: auto;
    }

    .comments-section {
        width: 50%;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: rgb(210, 210, 210);
    }

    .comment-form {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group input,
    .form-group textarea {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
    }

    .form-group textarea {
        height: 120px;
        resize: vertical;
    }

    .submit-comment {
        background-color: rgb(63, 63, 63);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }

    .submit-comment:hover {
        background-color: rgb(89, 56, 56);
    }

    .comments-list {
        margin-top: 30px;
    }

    .comment {
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
    }

    .comment:last-child {
        border-bottom: none;
    }

    .comment-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .commenter-name {
        font-weight: bold;
        color: rgb(89, 56, 56);
    }

    .comment-date {
        color: #666;
        font-size: 12px;
    }

    .comment-content {
        color: rgb(36, 36, 36);
        line-height: 1.5;
    }

    .no-comments {
        text-align: start;
        color: #666;
        font-style: italic;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 500px;
    }

    .ck-content {
        font-family: "Verdana", Geneva, sans-serif !important;
    }

    .section-image {
        width: 70%;
        border-radius: 3px;
    }

    .change-btn {
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
    }

    .change-btn:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
        .comments-section {
            width: 95%;
        }

        .comment-form {
            padding: 15px;
        }

        .section-image {
            width: 80%;
        }
    }

    @media screen and (max-width: 480px) {
        .section-image {
            width: 100%;
        }
    }
</style>

<div id="editCommentModal" class="modal">
    <div class="modal-content">
        <h3>Edit Comment</h3>
        <form method="POST" action="{% url 'edit_comment' %}" id="editCommentForm">
            {% csrf_token %}
            <input type="hidden" name="comment_id" id="commentId">
            <div>
                <label for="comment">Comment</label>
                <div class="form-group">
                    <textarea name="comment" placeholder="Your Comment" required></textarea>
                </div>
            </div>
            <div class="modal-actions">
                <button type="button" id="cancelEdit">Cancel</button>
                <button type="submit">Submit</button>
            </div>
            <p style="display: none;" id="passwordChangeError"></p>
        </form>
    </div>

</div>

<div class="blog-container">
    <div class="blog-content">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <hr>
        <div class="blog-meta">
            <span><i class="fa fa-calendar"></i> {{ blog.publish_at|date:"F d, Y" }}</span>
            {% if blog.author %}
            <span><i class="fa fa-person"></i> {{ blog.author.name }}</span>
            {% endif %}
            <span><i class="fa fa-folder"></i> {{blog.category_str|safe}}</span>
        </div>
        <hr>
        {% if blog.cover_image %}
        <img src="{{blog.cover_image.url}}" alt="cover_image" style="width: 100%; border-radius: 5px;">
        {% endif %}

        {% for section in blog.sections.all|dictsort:"order" %}
        <div class="blog-body">
            {% if section.title %}
            <h2 style="font-size: large;">{{section.title}}</h2>
            {% endif %}
            {% if section.image %}
            <div
                style="width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center;">

                <img src="{{section.image.url}}"
                    alt="{% if section.image_alt %}{{section.image_alt}}{% else %}{{section.title}}{% endif %}"
                    class="section-image">
                {% if section.image_label %}
                <i style="font-size: 12px;">{{section.image_label}}</i>
                {% endif %}
            </div>
            {% endif %}
            {{ section.content|safe }}
        </div>
        {% endfor %}
    </div>

    <div class="related-posts">
        <h3>Comments</h3>
        {% if not user.is_authenticated %}
        <p class="no-comments">Login to view and post comments.</p>
        {% else %}

        {% if has_commented %}
        <p class="no-comments">You have already commented in this blog.</p>
        {% else %}
        <div class="comment-form">
            <h4>Leave a Comment</h4>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="comment" placeholder="Your Comment" required></textarea>
                </div>
                <button type="submit" class="submit-comment">Post Comment</button>
            </form>
        </div>
        {%endif%}

        <div class="comments-list">
            {% for comment in blog.comments.all %}
            <div class="comment">
                <div class="comment-header">
                    <span class="commenter-name">{{ comment.user.email }}</span>
                    <span class="comment-date">{{ comment.created_at|date:"F d, Y" }}</span>
                </div>
                <div class="comment-content">
                    {{ comment.text }}
                </div>
                {% if comment.user == user %}
                <div style="margin-top: 10px; display: flex; gap: 10px;">
                    <button class="change-btn" id="edit_comment"
                        onClick="handleEditComment('{{comment.id}}', '{{comment.text}}')"
                        style="color:orange">Edit</button>
                    <button class="change-btn" id="delete_comment" onclick="handleDeleteComment('{{comment.id}}')"
                        style="color: red">Delete</button>
                </div>
                {% endif %}
            </div>
            {% empty %}
            <p class="no-comments">No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="related-posts">
        <h3>Related Posts</h3>
        {% for post in related_posts %}
        <a href="/blogs/{{post.slug}}" class="related-post-link">
            {{ post.title }}
            <br>
            <small>{{ post.category.name }}</small>
        </a>
        {% empty %}
        <p>No related posts found.</p>
        {% endfor %}
    </div>
</div>

<div id="deleteCommentModal" class="modal">
    <div class="modal-content">
        <h3>Are you sure? This action is irreversible.</h3>
        <form method="POST" action="{% url 'delete_comment' %}" id="deleteCommentForm">
            {% csrf_token %}
            <input type="hidden" name="comment_id" id="deleteCommentId">
            <div class="modal-actions">
                <button type="button" id="cancelDelete">Cancel</button>
                <button type="submit">Submit</button>
            </div>
            <p style="display: none;" id="passwordChangeError"></p>
        </form>
    </div>
</div>

<script>

    const cancelEdit = document.getElementById("cancelEdit");
    const cancelDelete = document.getElementById("cancelDelete");
    const editCommentModal = document.getElementById("editCommentModal");
    
    const handleDeleteComment = (commentId) => {
        deleteCommentModal.style.display = "block";
        const deleteCommentId = document.getElementById("deleteCommentId");
        deleteCommentId.value = commentId;
    };
    
    const handleEditComment = (commentId, commentText) => {
        const commentTextArea = document.querySelector("textarea[name='comment']");
        console.log("Comment: ", commentText)
        commentTextArea.value = commentText;
        const commentIdInput = document.getElementById("commentId");
        commentIdInput.value = commentId;
        editCommentModal.style.display = "block";
    };

    cancelEdit.onclick = () => {
        editCommentModal.style.display = "none";
    };

    cancelDelete.onclick = () => {
        deleteCommentModal.style.display = "none";
    };

</script>
{% endblock %}