{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/detail.css' %}">
{% endblock %}

{% block content %}
<div class="blog-container">
    <div class="blog-content">
        <h1>{{ blog.title }}</h1>
        <hr>
        <div class="blog-meta">
            <span>Published: {{ blog.publish_at|date:"F d, Y" }}</span>
            {% if blog.author %}
            <span>Author: {{ blog.author.name }}</span>
            {% endif %}
            <span>Category: {{blog.category_str|safe}}</span>
        </div>
        <hr>
        <div class="blog-body">
            {{ blog.content|safe }}
        </div>
    </div>

    <div class="related-posts">
        <h3>Related Posts</h3>
        {% for post in related_posts %}
        <a href="/blogs/{{post.slug}}" class="related-post-link">
            {{ post.title }}
            <br>
            <small>{{ post.category.name }}</small>
        </a>
        {% empty %}
        <p>No related posts found.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}