{% extends "base.html" %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/list.css' %}">

<meta name="title" content="quizNfacts | Blog">
<meta name="description" content="Interesting facts and information to fuel your curiosity. Read and improve your knowledge.">
<meta name="keywords" content="interesting facts, fascinating facts, movie facts, general facts">

<meta property="og:title" content="quizNfacts | Blog">
<meta property="og:description"
    content="Interesting facts and information to fuel your curiosity. Read and improve your knowledge.">
<meta property="og:image" content="">
<meta property="og:url" content="https://quiznfacts.com/blog">

<meta name="twitter:title" content="quizNfacts | Blog">
<meta name="twitter:description"
    content="Interesting facts and information to fuel your curiosity. Read and improve your knowledge.">
<meta name="twitter:url" content="">
<meta name="twitter:card"
    content="Interesting facts and information to fuel your curiosity. Read and improve your knowledge.">
{% endblock %}

{% block content %}


<div class="quiz-container">
    <!-- <form method="get" class="category-filters">
        <select name="category" onchange="this.form.submit()"
            style="padding: 0.5rem; border: 1px solid #3498db; border-radius: 4px;">
            <option value="">All Quizzes ({{total_quiz_count}})</option>
            {% for category in categories %}
            <option value="{{ category.id }}" 
                {% if request.GET.category|stringformat:'s' == category.id|stringformat:'s' %}selected{% endif %}>
                {{ category.name }} ({{ category.quizzes.count }})
            </option>
            {% endfor %}
        </select>

        <select name="taken" onchange="this.form.submit()"
            style="padding: 0.5rem; border: 1px solid #3498db; border-radius: 4px;">
            <option value="">All</option>
            <option value="taken" {% if request.GET.taken == "taken" %}selected{% endif %}>Taken</option>
            <option value="not-taken" {% if request.GET.taken == "not-taken" %}selected{% endif %}>Not Taken</option>
        </select>
    </form> -->

    <div class="quiz-list">
        {% for blog in blogs %}
        <div class="quiz-card">
            <div class="quiz-details">
                <h3>{{ blog.title }}</h3>
                <p>
                    {{blog.reading_time}} minutes
                </p>
            </div>
            <div class="quiz-meta">
                <a href="/blogs/{{blog.slug}}" class="take-quiz-btn">Read</a>
                <p>Published: {{ blog.publish_at|date:"M d, Y" }}</p>
            </div>
        </div>

        {% empty %}
        <p>No posts right now.</p>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
    {% if blogs.has_other_pages %}
    <div class="pagination">
        {% if blogs.has_previous %}
        <a href="?page=1{% if category_id %}&category={{ category_id }}{% endif %}">&laquo; First</a>
        <a
            href="?page={{ blogs.previous_page_number }}{% if category_id %}&category={{ category_id }}{% endif %}">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </span>

        {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}{% if category_id %}&category={{ category_id }}{% endif %}">Next</a>
        <a href="?page={{ blogs.paginator.num_pages }}{% if category_id %}&category={{ category_id }}{% endif %}">Last
            &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}