{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="random-question">
        <h2>Random Question</h2>
        <h4>{{random_question}}</h4>
        <button id="showButton">Show Choices</button>
        <div class="options" id="options">
            {% for answer in random_question.answers.all %}
            <p>=> &nbsp; {{answer.answer_text}}</p>
            {% endfor %}
        </div>
        <button id="showCorrectAnswer">Show Correct Answer</button>
        <div class="correct-answer" id="correctAnswer">
            <p style="color: bisque;">{{random_question_correct_answer.answer_text}}</p>
        </div>
    </div>
</div>

<script>
    const showButton = document.getElementById("showButton");
    const showCorrectAnswerButton = document.getElementById("showCorrectAnswer");
    const optionsDiv = document.getElementById('options');
    const correctAnswerDiv = document.getElementById('correctAnswer');

    showButton.addEventListener('click', function () {
        // Toggle the visibility of the options div
        // if (optionsDiv.style.display === 'none') {
        //     optionsDiv.style.display = 'block';
        // } else {
        //     optionsDiv.style.display = 'none';
        // }
        optionsDiv.style.display = 'block';

        showButton.style.display = 'none';
    });

    showCorrectAnswerButton.addEventListener('click', function() {
        correctAnswerDiv.style.display = 'block';
        showCorrectAnswerButton.style.display = 'none';
    });

</script>


<style>
    .options {
        display: none;
    }

    .main-container {
        display: flex;
        justify-content: center;
        color: white;
    }

    .random-question {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .correct-answer{
        display: none;
    }
</style>
{% endblock %}