{% extends "base.html" %}
{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<style>
    .answers {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .answer {
        display: flex;
        width: 42%;
        height: 60px;
        background-color: rgb(198, 195, 193);
        align-items: center;
        justify-content: center;
        text-justify: center;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
    }

    .answer:hover {
        box-shadow: 2px 2px 5px;
    }

    .recent-blogs-section {
        width: auto;
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
        }
    }

    .recent-posts {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* align-items: center; */
        justify-content: center;
    }

    .post-card {
        /* min-width: 250px; */
        /* width: 45%; */
        max-width: 400px;
        /* min-height: 180px; */
        padding: 10px;
        border-radius: 5px;
        background-color: #dadada;
        display: flex;
        flex-direction: column;
        justify-content: center;


        h3 {
            margin: 0;
        }
    }

    .post-card:hover {
        box-shadow: 2px 2px 5px;
    }

    .take-quiz-btn {
        width: auto;
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 0.9rem;
        transition: background-color 0.3s ease;
        margin-top: 10px
    }

    .take-quiz-btn:hover {
        background-color: #2874a6;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        /* margin: 15% auto; */
        padding: 20px;
        border-radius: 10px;
        /* width: 80%; */
        max-width: 500px;
    }

    .modal-interests {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-height: 400px;
        overflow-y: auto;
    }

    .modal-interests label {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .modal-actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .form-group {
        margin-top: 30px;
    }

    @media screen and (max-width: 480px) {
        .post-card {
            /* width: 90%; */
            max-width: 100%;
        }

        .recent-posts {
            grid-template-columns: repeat(1, 1fr);
        }

        .modal-interests {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>

<div class="main-container">
    <div class="random-question">
        <!-- <h2>Random Question</h2> -->
        <a href="/" class="shuffle"><i class="fa fa-random" style="font-size: large;"></i></a>
        <h4>{{random_question.question_text}} ({{random_question.categories_str}})</h4>

        <div class="answers">
            {%for answer in random_question.shuffled_answers%}
            <span class="answer" id="{{answer.id}}" onclick="handleAnswerClick(event)"
                data-is-correct="{{answer.is_correct}}">{{answer}}</span>
            {% endfor %}
        </div>

        <!-- <button id="showButton" class="button"
            style="background-color: rgb(148, 223, 178); font-size: large; padding: 10px 20px; margin-bottom: 5px;">Show
            Choices</button>
        <div class="options" id="options">
            {% for answer in random_question.answers.all %}
            <p>=> &nbsp; {{answer.answer_text}}</p>
            {% endfor %}
        </div>

        {% if random_question.hint %}
        <button id="showHintButton" class="button"
            style="background-color: rgb(223, 191, 148); font-size: large; padding: 10px 20px;">Show Hint</button>
        <div id="hintDiv" class="hint">
            <p>{{random_question.hint}}</p>
        </div>
        {% endif %}

        <button id="showCorrectAnswer" class="button"
            style="background-color: rgb(165, 199, 155); font-size: large; padding: 10px 20px; margin-top: 5px;">Show
            Correct
            Answer</button>
        <div class="correct-answer" id="correctAnswer">
            <p>{{random_question_correct_answer.answer_text}}</p>
        </div> -->
    </div>

    <div class=" categories">
        {% if user.is_authenticated %}
        <button
            style="margin-top: 10px; padding: 10px; cursor: pointer; border-radius: 5px; outline: none; border: none;"
            id="generate_quiz" onClick='openQuizModal()' type="button">Generate a Custom
            Quiz</button>
        {% endif %}
        <h2 style="font-weight: 100; text-align: center;">Take a quick quiz</h2>
        <div class="category-list">
            <a href="/quiz/?category=random" class="tab">Randomized Quiz
                <br>
                <span style="font-size: small;">
                    {{questions_count}}
                    {% if category.questions.count == 1 %}
                    Question
                    {% else %}
                    Questions
                    {% endif %}
                </span>
            </a>
            {% for category in categories %}
            <a href="/quiz/?category={{category.id}}" class="tab">{{category.name}}
                <br>
                <span style="font-size: small;">
                    {{category.questions.count}}
                    {% if category.questions.count == 1 %}
                    Question
                    {% else %}
                    Questions
                    {% endif %}
                </span>
            </a>
            {% endfor %}
        </div>

    </div>

    <div class="recent-blogs-section">
        <h2 style="font-weight: 100; margin-top: 20px;">Recent Blog Posts</h2>
        <div class="recent-posts">
            {% for blog in recent_blogs %}
            <div class="post-card">
                <h3>{{blog.title}}</h3>
                <p style="font-size: 0.8rem; margin: 5px 0;"><i>{{blog.publish_at}}</i></p>
                <p style="font-size: 0.8rem; margin: 0;">{{blog.reading_time}} minutes read</p>
                <a href="/blogs/{{blog.slug}}" style="text-align: center;" class="take-quiz-btn">Read Post</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="generateQuizModal" class="modal">
    <div class="modal-content">
        <h3>Select Categories</h3>
        <form method="post" action="{% url 'quiz' %}">
            {%csrf_token%}
            <div class="modal-interests">
                {% for interest in all_categories %}
                <label>
                    <input type="checkbox" name="interests" value="{{ interest.id }}">
                    {{ interest }}
                </label>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="">Question Count(10-20): </label>
                <input type="number" name="count" id="question_count" value="10">
            </div>
            <span style="color: red; display: none;" id="countError"></span>
            <div class="modal-actions">
                <button type="button" onclick="closeQuizModal()">Cancel</button>
                <button type="submit" id="submitQuizData">Generate Quiz</button>
            </div>
        </form>
    </div>
</div>

<script>
    // const showButton = document.getElementById("showButton");
    const showCorrectAnswerButton = document.getElementById("showCorrectAnswer");
    const optionsDiv = document.getElementById('options');
    const correctAnswerDiv = document.getElementById('correctAnswer');
    const showHintButton = document.getElementById('showHintButton');
    const hintDiv = document.getElementById('hintDiv')

    const generateQuizBtn = document.getElementById("generate_quiz")
    const quizModal = document.getElementById("generateQuizModal")

    const questionCountInput = document.getElementById("question_count")
    const countErrorSpan = document.getElementById("countError")

    const submitQuizButton = document.getElementById('submitQuizData')

    questionCountInput.addEventListener('change', function () {
        if (questionCountInput.value > 20 || questionCountInput.value < 10) {
            countErrorSpan.style.display = "inline-block"
            submitQuizButton.disabled = true
        } else {
            countErrorSpan.style.display = "none"
            submitQuizButton.disabled = false
        }
    })

    function openQuizModal() {
        quizModal.style.display = "flex"
    }

    function closeQuizModal() {
        quizModal.style.display = "none"
    }

    generateQuizBtn.addEventListener("click", function () {
        openQuizModal();
    })

    showButton.addEventListener('click', function () {
        optionsDiv.style.display = 'block';

        showButton.style.display = 'none';
    });

    showCorrectAnswerButton.addEventListener('click', function () {
        correctAnswerDiv.style.display = 'block';
        showCorrectAnswerButton.style.display = 'none';
    });

    showHintButton.addEventListener('click', function () {
        hintDiv.style.display = 'block';
        showHintButton.style.display = 'none';
    })

    function handleAnswerClick(event) {
        const isCorrect = event.target.dataset.isCorrect === "True";
        console.log(isCorrect)
        if (isCorrect) {
            event.target.style.backgroundColor = 'rgb(148, 223, 178)';
        } else {
            const allAnswers = document.querySelectorAll('.answer');
            event.target.style.backgroundColor = 'rgb(222, 124, 137)';
            allAnswers.forEach(answer => {
                if (answer.dataset.isCorrect === "True") {
                    answer.style.backgroundColor = 'rgb(148, 223, 178)';
                }
            })
        }

        setTimeout(() => {
            window.location.reload()
        }, 1000)
    }

</script>

{% endblock %}