{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="random-question">
        <h2>Random Question</h2>
        <h4>{{random_question}}</h4>
        <button id="showHintButton" class="button" style="background-color: rgb(223, 191, 148); font-size: large; padding: 10px 20px;">Show Hint</button>
        <div id="hintDiv" class="hint">
            <p>{{random_question.hint}}</p>
        </div>

        <!-- <button id="showButton" class="button">Show Choices</button> -->
        <!-- <div class="options" id="options">
            {% for answer in random_question.answers.all %}
            <p>=> &nbsp; {{answer.answer_text}}</p>
            {% endfor %}
        </div> -->
        <button id="showCorrectAnswer" class="button" style="background-color: rgb(165, 199, 155); font-size: large; padding: 10px 20px;">Show Correct Answer</button>
        <div class="correct-answer" id="correctAnswer">
            <p>{{random_question_correct_answer.answer_text}}</p>
        </div>
    </div>

    <div class=" categories">
        <h2>Question Categories</h2>
        <div class="category-list">
            {% for category in categories %}
            <a href="">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    // const showButton = document.getElementById("showButton");
    const showCorrectAnswerButton = document.getElementById("showCorrectAnswer");
    // const optionsDiv = document.getElementById('options');
    const correctAnswerDiv = document.getElementById('correctAnswer');
    const showHintButton = document.getElementById('showHintButton');
    const hintDiv = document.getElementById('hintDiv')

    // showButton.addEventListener('click', function () {
    //     optionsDiv.style.display = 'block';

    //     showButton.style.display = 'none';
    // });

    showCorrectAnswerButton.addEventListener('click', function () {
        correctAnswerDiv.style.display = 'block';
        showCorrectAnswerButton.style.display = 'none';
    });

    showHintButton.addEventListener('click', function(){
        hintDiv.style.display = 'block';
        showHintButton.style.display = 'none';
    })

</script>


<style>

    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        padding: 10px;
        background-color: rgb(218, 218, 218);
    }

    .category-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
        gap: 20px;
        width: 60%;

        a{
            text-decoration: none;
            font-size: larger;
            /* width: 10%; */
            text-align: center;
            padding: 30px 40px;
            border: 1px solid rgb(173, 173, 173);
            border-radius: 10px;
            color: rgb(63, 63, 63);
        }

        a:hover{
            box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1);
            background-color: rgb(63, 63, 63);
            color: rgb(218, 218, 218);
        }
    }

    .options {
        display: none;
    }

    .button {
        padding: 8px;
        outline: None;
        /* background: none; */
        border: none;
        outline: none;
        box-shadow: none;
        background-color: azure;
        border-radius: 5px;
    }

    .button:hover {
        box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1);
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(36, 36, 36);
    }

    .random-question {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
        align-items: center;
        justify-content: center;
        gap: 5px;
        /* border: 1px solid rgb(170, 170, 170); */
        margin-bottom: 5px;
        margin-top: 20px;
        /* border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1); */
        padding-bottom: 5px;

        h4{
            color: rgb(56, 56, 56);
            font-size: large;
            font-weight: normal;
        }
    }

    .correct-answer {
        display: none;
        color: rgb(39, 128, 15);
        font-size: x-large;
    }

    .hint{
        display: none;
        font-style: italic;
        color: rgb(221, 150, 57);
        font-size: larger;
    }

    @media screen and (max-width: 768px) {
        .random-question {
            width: 98%;
            padding: 5px;
            border-radius: 0;
            box-shadow: none;
            border: none;
            text-align: center;
        }
    }
</style>
{% endblock %}