{% load static %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit">Login</button>
    <div style="display: flex; justify-content: space-between; width: 250px;">
        <a href="/register">New Registration</a>
        <a href="/password-reset-email">Reset Password</a>
    </div>
</form>

{% endblock %}