{% load static %}
<div class="nav-container">
    <a href=""></a>
    <span
        style="color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 600; letter-spacing: 1px; font-size: x-large; cursor: pointer;"
        id="btn">qUIZZER</span>

    <div class="menu">
        <a href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="/profile">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</div>
<style>
    .nav-container {
        height: auto;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background-color: lightgray;
    }

    .menu {
        position: absolute;
        top: 55px;
        background-color: #d3d3d3;
        z-index: 49;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 30%;
        padding: 20px 0;
        min-width: 200px;
        box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1);
        
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        a {
            text-decoration: none;
            color: black;
        }

    }

    .menu.active {
        opacity: 0.98;
        visibility: visible;
    }

    @media screen and (max-width: 768px) {
        /* .menu {
            width: 100%;
        } */
    }
</style>

<script>
    var button = document.getElementById('btn');
    var menuOpen = false;
    var menu = document.querySelector('.menu');

    const openMenu = () => {
        menu.classList.add('active');
        menuOpen = true;
    }

    const closeMenu = () => {
        menu.classList.remove('active');
        menuOpen = false;
    }

    button.addEventListener('click', function () {
        if (menuOpen) {
            closeMenu();
        } else {
            openMenu();
        }
    });
</script>