{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/quiz_list.css' %}">

<style>
    .alert {
        padding: 5px;
        margin-bottom: 10px;
        margin-top: -20px;
        border: 1px solid transparent;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }

    .alert.error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .alert.success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
</style>
{% endblock %}

{% block content %}
<div class="quiz-container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="get" class="category-filters">
        <select name="category" onchange="this.form.submit()"
            style="padding: 0.5rem; border: 1px solid #3498db; border-radius: 4px;">
            <option value="">All Quizzes ({{total_quiz_count}})</option>
            {% for category in categories %}
            <option value="{{ category.id }}" 
                {% if request.GET.category|stringformat:'s' == category.id|stringformat:'s' %}selected{% endif %}>
                {{ category.name }} ({{ category.quizzes.count }})
            </option>
            {% endfor %}
        </select>

        <select name="taken" onchange="this.form.submit()"
            style="padding: 0.5rem; border: 1px solid #3498db; border-radius: 4px;">
            <option value="">All</option>
            <option value="taken" {% if request.GET.taken == "taken" %}selected{% endif %}>Taken</option>
            <option value="not-taken" {% if request.GET.taken == "not-taken" %}selected{% endif %}>Not Taken</option>
        </select>
    </form>

    <div class="quiz-list">
        {% for quiz in quizzes %}
        <div class="quiz-card">
            <div class="quiz-details">
                <h3>{{ quiz.name }}</h3>
                <p>
                    {{ quiz.questions.count }}
                    {% if quiz.questions.count == 1 %}Question{% else %}Questions{% endif %}
                </p>
            </div>
            <div class="quiz-meta">
                {% if quiz.is_taken %}
                <p>Already taken ({{quiz.user_score_percentage}}%)</p>
                {% else %}
                <a href="/quiz?quiz={{quiz.id}}" class="take-quiz-btn">Take Quiz</a>
                {% endif %}
                <p>Added: {{ quiz.created_at|date:"M d, Y" }}</p>
            </div>
        </div>
        
        {% empty %}
        <p style="text-align: center;">No quizzes available.</p>
        {% endfor %}
    </div>

   <!-- Pagination Controls -->
   {% if quizzes.has_other_pages %}
   <div class="pagination">
       {% if quizzes.has_previous %}
           <a href="?page=1{% if category_id %}&category={{ category_id }}{% endif %}">&laquo; First</a>
           <a href="?page={{ quizzes.previous_page_number }}{% if category_id %}&category={{ category_id }}{% endif %}">Previous</a>
       {% endif %}

       <span class="current-page">
           Page {{ quizzes.number }} of {{ quizzes.paginator.num_pages }}
       </span>

       {% if quizzes.has_next %}
           <a href="?page={{ quizzes.next_page_number }}{% if category_id %}&category={{ category_id }}{% endif %}">Next</a>
           <a href="?page={{ quizzes.paginator.num_pages }}{% if category_id %}&category={{ category_id }}{% endif %}">Last &raquo;</a>
       {% endif %}
   </div>
   {% endif %}
</div>
{% endblock %}