.shuffle {
    text-decoration: none;
    border: 1px solid rgb(252, 169, 169);
    padding: 5px 20px;
    border-radius: 5px;
    color: rgb(89, 56, 56);
    font-size: smaller;
}

.shuffle:hover {
    background-color: rgb(252, 169, 169);
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 10px;
    background-color: rgb(218, 218, 218);
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 60%;
}

.tab {
    text-decoration: none;
    font-size: 14px;
    /* width: 10%; */
    text-align: center;
    padding: 10px 15px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    color: rgb(63, 63, 63);
}

.tab:hover {
    box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1);
    background-color: rgb(63, 63, 63);
    color: rgb(218, 218, 218);
    /* border: 1px solid rgb(173, 173, 173); */
}

.options {
    display: none;
}

.button {
    padding: 8px;
    outline: None;
    /* background: none; */
    border: none;
    outline: none;
    /* box-shadow: none; */
    background-color: azure;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(36, 36, 36);
}

.random-question {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* border: 1px solid rgb(170, 170, 170); */
    margin-bottom: 5px;
    margin-top: 20px;
    /* border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(122, 122, 122, 1); */
    padding-bottom: 5px;

    h4 {
        color: rgb(56, 56, 56);
        font-size: large;
        font-weight: normal;
    }
}

.correct-answer {
    display: none;
    color: rgb(39, 128, 15);
    font-size: x-large;
}

.hint {
    display: none;
    font-style: italic;
    color: rgb(221, 150, 57);
    font-size: larger;
}

@media screen and (max-width: 768px) {
    .random-question {
        width: 98%;
        padding: 5px;
        border-radius: 0;
        box-shadow: none;
        border: none;
        text-align: center;
    }

    .category-list {
        width: 95%;
    }
}