.button-primary {
    background-color: darkslategray;
    color: azure;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}

.button-primary:hover {
    background-color: darkcyan;
}

.button-secondary {
    background-color: darkslategray;
    color: azure;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}

.button-secondary:hover {
    background-color: darkcyan;
}
