.button-primary {
    background-color: darkslategray;
    color: azure;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}

.button-primary:hover {
    background-color: darkcyan;
}

.button-secondary {
    background-color: darkslategray;
    color: azure;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}

.button-secondary:hover {
    background-color: darkcyan;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}