{% extends "auth/base.html" %}
{% load static %}

{% block content %}
<style>
    form {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85vh;
        gap: 10px;
        justify-self: center;
    }

    .form-group {
        /* margin: 10px 0; */
        display: flex;
        flex-direction: column;
        gap: 2px;
        min-width: 250px;
    }

    .form-control {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgb(173, 173, 173);
        height: 30px;
        outline: none;
    }

    button {
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(36, 20, 114);
    color: white;
    cursor: pointer;
    outline: none;
    min-width: 250px;
    padding: 10px 0;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(36, 20, 94);
}
</style>

<div>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <input type="text" name="otp" id="otp" class="form-control" required
                placeholder="Enter otp received in email.">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}